BasedOnStyle: LLVM
AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

TabWidth: 4
IndentWidth: 4
UseTab: ForIndentation

BinPackParameters: AlwaysOnePerLine
BreakAfterOpenBracketFunction: true
BreakBeforeCloseBracketFunction: false
ColumnLimit: 160