# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Common build folders
[Bb]uild/
bin/
obj/



CMakeCache.txt
CMakeFiles/
CMakeScripts/
cmake_install.cmake
install_manifest.txt
Makefile
_deps/


# Visual Studio
.vs/
*.sln
*.vcxproj
*.user

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json

# CLion / JetBrains
.idea/
cmake-build-*/